# HW3: Pandas

*Vì đây là bài tập về Pandas nên yêu cầu là không được dùng vòng lặp*

(Cập nhật lần cuối: 12/06/2021)

Họ tên: Trần Văn Điệp

MSSV: 1712343

---

## Cách làm bài và nộp bài

&#9889; Bạn lưu ý là mình sẽ dùng chương trình hỗ trợ chấm bài nên bạn cần phải tuân thủ chính xác qui định mà mình đặt ra, nếu không rõ thì hỏi, chứ không nên tự tiện làm theo ý của cá nhân.

**Cách làm bài**

Bạn sẽ làm trực tiếp trên file notebook này. Đầu tiên, bạn điền họ tên và MSSV vào phần đầu file ở bên trên. Trong file, bạn làm bài ở những chỗ có ghi là:
```python
# YOUR CODE HERE
raise NotImplementedError()
```
hoặc đối với những phần code không bắt buộc thì là:
```python
# YOUR CODE HERE (OPTION)
```
hoặc đối với markdown cell thì là:
```markdown
YOUR ANSWER HERE
```
Tất nhiên, khi làm thì bạn xóa dòng `raise NotImplementedError()` đi.
Đối những phần yêu cầu code thì thường ở ngay phía dưới sẽ có một (hoặc một số) cell chứa các bộ test để giúp bạn biết đã code đúng hay chưa; nếu chạy cell này không có lỗi gì thì có nghĩa là qua được các bộ test. Trong một số trường hợp, các bộ test có thể sẽ không đầy đủ; nghĩa là, nếu không qua được test thì là code sai, nhưng nếu qua được test thì chưa chắc đã đúng hoàn toàn.

Trong khi làm bài, bạn có thể cho in ra màn hình, tạo thêm các cell để test. Nhưng khi nộp bài thì bạn xóa các cell mà bạn tự tạo, xóa hoặc comment các câu lệnh in ra màn hình. Bạn lưu ý <font color=red>không được tự tiện xóa các cell hay sửa code của Thầy</font> (trừ những chỗ được phép sửa như đã nói ở trên).

Bạn cố gắng giữ cho code rõ ràng, ngăn nắp: đặt tên biến gợi ý, comment ở những chỗ cần comment, giữ cho một dòng code không quá dài (vì nếu không thì người đọc sẽ phải mất công scroll, bạn có thể dùng qui tắc: một dòng code chỉ nên có tối đa là 79 ký tự). 

Trong khi làm bài, thường xuyên `Ctrl + S` để lưu lại bài làm của bạn, tránh mất mát thông tin.


*Nên nhớ mục tiêu chính ở đây là <font color=green>học, học một cách chân thật</font>. Bạn có thể thảo luận ý tưởng với bạn khác, nhưng <font color=green>code và bài làm phải là của bạn, dựa trên sự hiểu thật sự của bạn</font>. <font color=red>Nếu vi phạm thì sẽ bị 0 điểm cho toàn bộ môn học.</font>*

**Cách nộp bài**

Khi chấm bài, đầu tiên mình sẽ chọn `Kernel` - `Restart & Run All` để restart và chạy tất cả các cell trong notebook của bạn; do đó, trước khi nộp bài, bạn nên chạy thử `Kernel` - `Restart & Run All` để đảm bảo mọi chuyện diễn ra đúng như mong đợi.

Sau đó, bạn tạo thư mục nộp bài theo cấu trúc sau:
- Thư mục `MSSV` (vd, nếu bạn có MSSV là 1234567 thì bạn đặt tên thư mục là `1234567`)
    - File `HW3.ipynb` (không cần nộp các file khác)

Cuối cùng, bạn nén thư mục `MSSV` này lại và nộp ở link trên moodle. <font color=red>Bạn lưu ý tuân thủ chính xác qui định nộp bài.</font>

---

## Môi trường code

Ta thống nhất trong môn này:
- Code trên môi trường Linux (bạn đã setup ở HW0)
- Dùng Jupyter Notebook hoặc Jupyter Lab để code file .ipynb. Lưu ý: bạn <font color=red>không dùng Google Colab</font>, vì Google Colab có thể xóa một số thông tin meta mà chương trình hỗ trợ chấm bài của mình đã tạo trong file bài tập
- Dùng phiên bản các package như trong file "p4ds-env.yml" \
Bạn xem cách dùng Conda để tạo môi trường code từ file .yml trong file slide "06-PythonP3_Conda.pdf"

In [2]:
!which python

/usr/local/bin/python

Nếu không có vấn đề gì thì file chạy python sẽ là file của môi trường code "p4ds-env".

---

## Import các thư viện cần thiết

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
# YOUR CODE HERE (OPTION)
import datetime as dt

---

## Thu thập dữ liệu

Trong bài này, ta sẽ dùng dữ liệu đã được thu thập sẵn là file "mvt.csv" đính kèm; đây là dữ liệu về tội phạm ăn cắp xe ở thành phố Chicago, bang Illinois, Hoa Kỳ ("mvt" là viết tắt của "motor vehicle theft"). Dữ liệu này được lấy từ khóa học "The Analytics Edge" ở trang edx.org, và gốc của dữ liệu là [ở đây](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2).

---

## Khám phá dữ liệu

### Đọc dữ liệu từ file csv vào dataframe

In [4]:
mvt_df = pd.read_csv('mvt.csv')
mvt_df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        ID              Date  ...   Latitude  Longitude
0  8951354  12/31/2012 23:15  ...  41.756284 -87.621645
1  8951141  12/31/2012 22:00  ...  41.898788 -87.661303
2  8952745  12/31/2012 22:00  ...  41.969186 -87.767670
3  8952223  12/31/2012 22:00  ...  41.769329 -87.657726
4  8951608  12/31/2012 21:30  ...  41.837568 -87.621761

[5 rows x 11 columns]

### Dữ liệu gồm có bao nhiêu dòng và bao nhiêu cột? (0.25đ)

Bạn tính số dòng và số cột (không được code cứng con số) và lần lượt lưu vào 2 biến là `num_rows` và `num_cols`.

In [5]:
# YOUR CODE HERE

num_rows = mvt_df.shape[0]
num_cols = mvt_df.shape[1]
#raise NotImplementedError()

In [6]:
# TEST
assert num_rows == 191641
assert num_cols == 11

### Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

Theo mô tả dữ liệu của khóa học "The Analytics Edge" và theo quan sát sơ bộ về dữ liệu thì một dòng cho biết thông tin của một vụ phạm tội. Có vẻ không có dòng nào bị "lạc loài".

### Dữ liệu có các dòng bị lặp không? (0.5đ)

Bạn sẽ kiểm tra vụ này và lưu kết quả vào biến `have_duplicated_rows`. Biến này sẽ có giá trị True nếu dữ liệu có các dòng bị lặp và có giá trị False nếu ngược. Gợi ý: dataframe có phương thức `duplicated`.

In [7]:
# YOUR CODE HERE
tmp_df = mvt_df.duplicated(keep = 'first')
have_duplicated_rows = not (tmp_df.shape[0] == num_rows)
#raise NotImplementedError()

In [8]:
# TEST
assert have_duplicated_rows == False

### Mỗi cột có ý nghĩa gì?

Dưới đây là phần mô tả của khóa học "The Analytics Edge" về các cột trong file "mvt.csv":
- **ID**: a unique identifier for each observation.
- **Date**: the date the crime occurred.
- **LocationDescription**: the location where the crime occurred.
- **Arrest**: whether or not an arrest was made for the crime (TRUE if an arrest was made, and FALSE if an arrest was not made).
- **Domestic**: whether or not the crime was a domestic crime, meaning that it was committed against a family member (TRUE if it was domestic, and FALSE if it was not domestic).
- **Beat**: the area, or "beat" in which the crime occurred. This is the smallest regional division defined by the Chicago police department.
- **District**: the police district in which the crime occured. Each district is composed of many beats, and are defined by the Chicago Police Department.
- **CommunityArea**: the community area in which the crime occurred. Since the 1920s, Chicago has been divided into what are called "community areas", of which there are now 77. The community areas were devised in an attempt to create socially homogeneous regions.
- **Year**: the year in which the crime occurred.
- **Latitude**: the latitude of the location at which the crime occurred.
- **Longitude**: the longitude of the location at which the crime occurred.

### Mỗi cột hiện đang có kiểu dữ liệu gì? Có cột nào có kiểu dữ liệu chưa phù hợp để có thể xử lý tiếp không? (0.75đ)

Bạn lấy `dtype` (kiểu dữ liệu của mỗi phần tử) của mỗi cột trong `mvt_df` và lưu kết quả vào series `col_dtypes`; series này có index là tên cột.

In [9]:
# YOUR CODE HERE
col_dtypes = mvt_df.dtypes
#raise NotImplementedError()

In [10]:
# TEST
assert col_dtypes['ID'] in [np.int64, np.int32]
assert col_dtypes['Beat'] in [np.int64, np.int32]
assert col_dtypes['Year'] in [np.int64, np.int32]
assert col_dtypes['Latitude'] in [np.float64, np.float32]
assert col_dtypes['Longitude'] in [np.float64, np.float32]
assert col_dtypes['Date'] == object
assert col_dtypes['LocationDescription'] == object
assert col_dtypes['District'] == object
assert col_dtypes['CommunityArea'] == object
assert col_dtypes['Arrest'] == bool
assert col_dtypes['Domestic'] == bool

**Cột có dtype là object nghĩa là sao?**

`mvt_df` có 4 cột có `dtype` là `object`: "Date", "LocationDescription", "District", "CommunityArea". Trong Pandas, kiểu dữ liệu `object` thường ám chỉ chuỗi, nhưng thật ra kiểu dữ liệu `object` có thể chứa một đối tượng bất kỳ trong Python (vì thật ra ở bên dưới kiểu dữ liệu `object` chứa địa chỉ). Nếu một cột trong dataframe có `dtype` là `object` thì có thể các phần tử trong cột này sẽ có kiểu dữ liệu khác nhau; để biết được kiểu dữ liệu thật sự của các phần tử trong cột này thì ta phải truy xuất vào từng phần tử và dùng câu lệnh `type` để xem kiểu dữ liệu, ví dụ `type(s.iloc[i])` với `s` là một cột. Lúc đọc dữ liệu từ file "mvt.csv" lên, nếu bạn để ý thì sẽ thấy warning là: "Columns (6,7) have mixed types", nghĩa là cột 6 ("District") và 7 ("CommunityArea") có `dtype` không đồng nhất (trong nội bộ mỗi cột). Ta muốn xem thử trong nội bộ mỗi cột này có các kiểu dữ liệu nào.

Công việc của bạn là viết hàm nhận đầu vào là một cột `s` (series) có `dtype` là `object` và trả về tập các kiểu dữ liệu thật sự có trong cột này.

In [11]:
def open_object_dtype(s):
    dtype_list = s.apply(type)
    dtypes = set(dtype_list)
    # YOUR CODE HERE
    # raise NotImplementedError()
    
    return dtypes

In [12]:
# TEST
assert open_object_dtype(mvt_df['Date']) == {str}
assert open_object_dtype(mvt_df['LocationDescription']) == {str}
assert open_object_dtype(mvt_df['District']) == {str, float}
assert open_object_dtype(mvt_df['CommunityArea']) == {str, float}

**Vấn đề cần tiền xử lý:**

- Cột "Date" đang có dtype là `str`. Để có thể tiếp tục khám phá thêm về cột này, ta sẽ thực hiện bước tiền xử lý là chuyển sang dạng `datetime`.
- Cột "District" và "CommunityArea" có dtype gồm 2 loại là `str` và `float`. Nếu kiểm tra thêm thì bạn sẽ thấy `float` là ứng với `NaN`, còn `str` là ứng với mã (dạng số) của "District" hoặc "CommunityArea". Tuy nhiên, cũng có trường hợp mã là `float` (ví dụ, cột "CommunityArea", index 131072). Để có thể tiếp tục khám phá thêm về 2 cột này, ta cũng sẽ thực hiện bước tiền xử lý là chuyển tất cả sang dtype là `float`.

---

## Tiền xử lý

### Chuyển dtype của cột "Date" sang datetime (0.5đ)

Bạn hãy chuyển `dtype` của cột "Date" sang kiểu dữ liệu thời gian (sau khi làm xong thì cột "Date" trong `mvt_df` phải thay đổi `dtype`). Gợi ý: bạn có thể dùng câu lệnh `pd.to_datetime`; khi dùng `pd.to_datetime`, bạn truyền giá trị phù hợp cho tham số `format` (nếu không thì sẽ chạy rất chậm vì Pandas phải đoán format).

In [13]:
# YOUR CODE HERE
mvt_df['Date'] = pd.to_datetime(mvt_df['Date'])
#raise NotImplementedError()

In [14]:
# TEST 
# Nếu dtype của cột "Date" đã được chuyển sang datetime thì phải dùng được .dt.
assert mvt_df['Date'].dt.year.min() == 2001

### Chuyển dtype của cột "District" và "CommunityArea" sang float (0.5đ)

Bạn hãy chuyển `dtype` của cột "District" và "CommunityArea" sang `float` (sau khi làm xong thì cột "District" và "CommunityArea" trong `mvt_df` phải thay đổi `dtype`). Nếu bạn thử chuyển thì sẽ bị báo lỗi vì trong các cột này có giá trị là " " (chuỗi có một khoảng trắng). Vậy thì trước khi chuyển, bạn phải replace các giá trị " " bằng NaN.

In [15]:
# YOUR CODE HERE
mvt_df['District'] = pd.to_numeric(mvt_df['District'], errors='coerce')
mvt_df['CommunityArea'] = pd.to_numeric(mvt_df['CommunityArea'], errors = 'coerce')
#raise NotImplementedError()

In [16]:
# TEST
assert mvt_df['District'].dtype in [np.float32, np.float64]
assert mvt_df['CommunityArea'].dtype in [np.float32, np.float64]

---

## Khám phá dữ liệu (tiếp tục)

### Với mỗi cột có kiểu dữ liệu dạng numeric, các giá trị được phân bố như thế nào? (0.5đ)

Ta sẽ xếp các cột datetime vào nhóm numeric luôn. Hiện có 8 cột có vẻ là thuộc nhóm numeric: "ID", "Date", "Beat", "District", "CommunityArea", "Year", "Latitude", "Longitude". Tuy nhiên, 4 cột "ID", "Beat", "District", "CommunityArea" thật ra là dạng categorical (vì là mã được đánh dưới dạng số). Như vậy, chỉ có 4 cột numeric là "Date", "Year", "Latitude", "Longitude". 

Với mỗi cột numeric bạn sẽ tính tỉ lệ % giá trị thiếu (từ 0 đến 100), min, max. Bạn lưu kết quả vào dataframe `nume_col_profiles_df`. Dataframe này có 3 dòng là "missing_ratio", "min", "max"; và có 4 cột là "Date", "Year", "Latitude", "Longitude".

In [17]:
def to_statis(col):
  tmp = col.describe(datetime_is_numeric=True)
  p_nan = np.sum(col.isnull())*100/len(col)
  if (col.name == 'Date'):
    min = tmp[2]
    max = tmp[6]
  else:
    min = round(tmp[3],3)
    max = round(tmp[7],3)
  iSeries = pd.Series({'missing_ratio': p_nan, 'min': min, 'max': max}, index = ['missing_ratio', 'min', 'max'])
  if (col.name != 'Date'):
    iSeries = round(iSeries,3)
  return iSeries

In [18]:
# YOUR CODE HERE
nume_col_profiles_df = pd.DataFrame()
nume_col_profiles_df['Date'] = to_statis(mvt_df['Date'])
nume_col_profiles_df['Year'] = to_statis(mvt_df['Year'])
nume_col_profiles_df['Latitude'] = to_statis(mvt_df['Latitude'])
nume_col_profiles_df['Longitude'] = to_statis(mvt_df['Longitude'])
#raise NotImplementedError()
nume_col_profiles_df

                              Date    Year  Latitude  Longitude
missing_ratio                    0     0.0     1.188      1.188
min            2001-01-01 00:01:00  2001.0    41.645    -87.926
max            2012-12-31 23:15:00  2012.0    42.023    -87.525

In [19]:
## TEST
df = nume_col_profiles_df
assert dict(df['Date']) == \
                    {'missing_ratio': 0.0,
                     'min': pd.Timestamp('2001-01-01 00:01:00'),
                     'max': pd.Timestamp('2012-12-31 23:15:00')}
assert dict(df['Year']) == {'missing_ratio': 0.0, 
                            'min': 2001.0, 
                            'max': 2012.0}
assert dict(df['Latitude'].round(3)) == {'missing_ratio': 1.188, 
                                         'min': 41.645, 
                                         'max': 42.023}
assert dict(df['Longitude'].round(3)) == {'missing_ratio': 1.188,
                                          'min': -87.926, 
                                          'max': -87.525}

Min và max của các cột có vẻ không có gì bất thường.

### Với mỗi cột có kiểu dữ liệu dạng categorical, các giá trị được phân bố như thế nào? (0.75đ)

`mvt_df` có 7 cột categorical là "ID", "LocationDescription", "Arrest", "Domestic", "Beat", "District", "CommunityArea".

Với mỗi cột categorical, bạn tính tỉ lệ % giá trị thiếu (từ 0 đến 100), số lượng giá trị khác nhau, list/array các giá trị khác nhau. Bạn lưu kết quả vào dataframe `cate_col_profiles_df`. Dataframe này có 3 dòng là "missing_ratio", "num_diff_vals", "diff_vals"; và có 7 cột là "ID", "LocationDescription", "Arrest", "Domestic", "Beat", "District", "CommunityArea".

In [23]:
def cate_statis(col):
  p_null = np.sum(col.isnull()) / len(col)*100
  num_vals = col.nunique()
  diff_vals = col.unique()
  return pd.Series({'missing_ratio': p_null, 'num_diff_vals': num_vals, 'diff_vals': diff_vals})

In [24]:
# YOUR CODE HERE
cate_col_profiles_df = pd.DataFrame()
cate_col_profiles_df['ID'] = cate_statis(mvt_df['ID'])
cate_col_profiles_df['LocationDescription'] = cate_statis(mvt_df['LocationDescription'])
cate_col_profiles_df['Arrest'] = cate_statis(mvt_df['Arrest'])
cate_col_profiles_df['Domestic'] = cate_statis(mvt_df['Domestic'])
cate_col_profiles_df['Beat'] = cate_statis(mvt_df['Beat'])
cate_col_profiles_df['District'] = cate_statis(mvt_df['District'])
cate_col_profiles_df['CommunityArea'] =cate_statis(mvt_df['CommunityArea'])
#raise NotImplementedError()
cate_col_profiles_df

                                                              ID  ...                                      CommunityArea
missing_ratio                                                  0  ...                                            12.8449
num_diff_vals                                             191641  ...                                                 78
diff_vals      [8951354, 8951141, 8952745, 8952223, 8951608, ...  ...  [69.0, 24.0, 11.0, 67.0, 35.0, 19.0, 48.0, 40....

[3 rows x 7 columns]

In [25]:
# TEST
df = cate_col_profiles_df
assert dict(df.loc['missing_ratio'].astype(float).round(3)) == \
                                    {'ID': 0.0,
                                     'LocationDescription': 0.0,
                                     'Arrest': 0.0,
                                     'Domestic': 0.0,
                                     'Beat': 0.0,
                                     'District': 22.467,
                                     'CommunityArea': 12.845}
assert dict(df.loc['num_diff_vals'].astype(int)) == \
                                    {'ID': 191641,
                                     'LocationDescription': 78, 
                                     'Arrest': 2,
                                     'Domestic': 2,
                                     'Beat': 300, 
                                     'District': 26, 
                                     'CommunityArea': 78}
assert dict(df.loc['diff_vals'].apply(len)) == \
                                    {'ID': 191641,
                                     'LocationDescription': 78,
                                     'Arrest': 2,
                                     'Domestic': 2,
                                     'Beat': 300,
                                     'District': 27,
                                     'CommunityArea': 79}

### Làm rõ hơn về ý nghĩa của các cột "Beat", "District", "CommunityArea" (1.25đ)

Theo mô tả của khóa học "The Analytics Edge":
- **Beat**: the area, or "beat" in which the crime occurred. This is the smallest regional division defined by the Chicago police department.
- **District**: the police district in which the crime occured. Each district is composed of many beats, and are defined by the Chicago Police Department.
- **CommunityArea**: the community area in which the crime occurred. Since the 1920s, Chicago has been divided into what are called "community areas", of which there are now 77. The community areas were devised in an attempt to create socially homogeneous regions.

Như vậy, "Beat" là đơn vị nhỏ nhất, "District" thì gồm nhiều "Beat". Vậy có phải là các "District" không bị overlap với nhau không? (không có trường hợp mà một "Beat" vừa thuộc "District" này, vừa thuộc "District" kia). Và mỗi "CommunityArea" là gồm nhiều "Beat" và cũng không overlap với nhau? Để trả lời cho hai câu hỏi này, dưới đây bạn sẽ tính tỉ lệ (từ 0 đến 1) các "Beat" mà thuộc nhiều hơn một "District", và tỉ lệ các "Beat" mà thuộc nhiều hơn một "CommunityArea". Bạn lần lượt lưu các kết quả vào hai biến là `multi_district_ratio` và `multi_comarea_ratio`.

In [139]:
n_beat = len(mvt_df['Beat'].unique())
n_beat

300

In [160]:
# YOUR CODE HERE
# Lấy các unique của bộ District và Beat
uni_dist_beat = mvt_df[['District', 'Beat']].drop_duplicates()
# Bỏ đi các dòng chứa nan ở cột district
uni_dist_beat = uni_dist_beat[uni_dist_beat['District'].notna()]
# Tính số lượng các beat có ở 2 District trở lên
n_multi_dist = sum(uni_dis_beat['Beat'].value_counts()>1)
#Tính tỷ lệ
multi_district_ratio = n_multi_dist/n_beat


# Lấy các unique của bộ CommunityArea và Beat
uni_comarea_beat = mvt_df[['CommunityArea', 'Beat']].drop_duplicates()
# Bỏ đi các dòng chứa nan ở cột communityarea
uni_comarea_beat = uni_comarea_beat[uni_comarea_beat['CommunityArea'].notna()]
# Tính số lượng các beat có ở 2 CommunityArea trở lên
n_multi_comarea = sum(uni_comarea_beat['Beat'].value_counts()>1)
#Tính tỷ lệ
multi_comarea_ratio = n_multi_comarea/n_beat
# raise NotImplementedError()

In [161]:
# TEST
assert round(multi_district_ratio, 3) == 0.210
assert round(multi_comarea_ratio, 3) == 0.603

---

## Đưa ra các câu hỏi cần trả lời

Sau khi đã khám phá dữ liệu và hiểu hơn về dữ liệu, ta thấy có một số câu hỏi có thể được trả lời bằng dữ liệu:
- Số lượng các vụ phạm tội thay đổi như thế nào theo năm?
- Với các vụ án xảy ra ở mỗi năm, tỉ lệ bắt được thủ phạm tính đến thời điểm dữ liệu được thu thập là bao nhiêu?
- Trong mỗi năm, "Beat" nào có nhiều vụ phạm tội nhất và "Beat" nào có ít vụ phạm tội nhất?
- Trong 3 năm gần đây, 5 loại địa điểm nào (ngoài đường, chỗ đậu xe, ...) có nhiều vụ phạm tội nhất?
- Trong mỗi năm của 3 năm gần đây, số lượng các vụ phạm tội thay đổi như thế nào theo tháng?

Trong đồ án cuối kỳ, bạn sẽ phải suy nghĩ để đưa ra các câu hỏi có ý nghĩa và cũng phải giải thích để người đọc thấy được là câu hỏi có ý nghĩa. Trong bài tập này, mục đích chính là tập luyện các thao tác xử lý dữ liệu của Pandas nên mình không cần giải thích để người đọc thấy được là các câu hỏi có ý nghĩa. May quá 😉.

---

## Tiền xử lý

### Thêm cột "Month" vào dataframe (0.5đ)

Trong các câu hỏi ở trên, có câu cần đến thông tin về tháng của vụ phạm tội. Do đó, trước khi phân tích để trả lời cho các câu hỏi, bạn hãy tiền xử lý bằng cách thêm cột "Month" (tháng xảy ra vụ phạm tội) vào `mvt_df`. Sau khi thêm thì `mvt_df` phải thay đổi.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# TEST
assert mvt_df['Month'].min() == 1
assert mvt_df['Month'].max() == 12

---

## Phân tích dữ liệu để trả lời cho các câu hỏi

### Số lượng các vụ phạm tội thay đổi như thế nào theo năm? (0.75đ)

Để trả lời cho câu hỏi này, bạn sẽ làm như sau:
- Bước 1: Tính số vụ phạm tội của mỗi năm. Bạn lưu kết quả vào series `num_thefts_each_year`, trong đó index là năm.
- Bước 2: Từ kết quả ở trên, bạn vẽ đồ thị dạng line, trong đó trục hoành là năm và trục tung là số lượng vụ phạm tội. Bạn dùng thêm marker là điểm tròn để cho thấy rõ các điểm dữ liệu. Bạn đặt tên trục hoành là "Year" và tên trục tung là "NumThefts".

Code bước 1.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# TEST
assert num_thefts_each_year.loc[2001] == 20669
assert num_thefts_each_year.loc[2012] == 14092

Code bước 2.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Hmm, ở Mỹ, năm 2008-2009 xảy ra cuộc khủng hoảng kinh tế, không biết có liên quan gì không ...

### Với các vụ án xảy ra ở mỗi năm, tỉ lệ bắt được thủ phạm tính đến thời điểm dữ liệu được thu thập là bao nhiêu? (1.25đ)

Để trả lời cho câu hỏi này, bạn sẽ làm như sau:
- Bước 1: Tính tỉ lệ (từ 0 đến 1) bắt được thủ phạm của mỗi năm (năm ở đây là năm xảy ra các vụ phạm tội, còn bắt được hay không bắt được là tính tới thời điểm dữ liệu được thu thập). Bạn lưu kết quả vào series `arrest_ratio_each_year`, trong đó index là năm.
- Bước 2: Từ kết quả ở trên, bạn vẽ đồ thị dạng line, trong đó trục hoành là năm và trục tung là tỉ lệ bị bắt. Bạn dùng thêm marker là điểm tròn để cho thấy rõ các điểm dữ liệu. Bạn đặt tên trục hoành là "Year" và tên trục tung là "ArrestRatio". Ngoài ra, bạn cũng cần chỉnh miền giá trị của trục tung là từ 0 đến 1.

Code bước 1.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# TEST
assert round(arrest_ratio_each_year.loc[2001], 3) == 0.104
assert round(arrest_ratio_each_year.loc[2012], 3) == 0.039

Code bước 2.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Bạn sẽ thấy tỉ lệ bị bắt nhìn chung là giảm trong các năm gần đây. Tại sao lại như vậy? Nói chung là ta không biết chắc được. Nhưng bạn thử suy nghĩ và đưa ra một giả thuyết để giải thích cho xu hướng này dựa vào thông tin sau: năm ở đây là năm xảy ra vụ phạm tội, bắt được hay không bắt được là tính đến thời điểm dữ liệu được thu thập (dữ liệu này được thu thập vào khoảng năm 2012-2013, là thời điểm mở của khóa học "The Analytics Edge").

YOUR ANSWER HERE

###  Trong mỗi năm, "Beat" nào có nhiều vụ phạm tội nhất và "Beat" nào có ít vụ phạm tội nhất? (0.75đ)

Bạn lưu kết quả vào dataframe `two_beats_each_year_df`. Dataframe này có 12 dòng ứng với 12 năm là 2001, 2002, ..., 2012; và có 2 cột là "SafeBeat" ("Beat" có ít vụ phạm tội nhất) và "DangerousBeat" ("Beat" có nhiều vụ phạm tội nhất).

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
two_beats_each_year_df

In [ ]:
# TEST
df = two_beats_each_year_df
assert df.loc[2001, 'SafeBeat'] == 134
assert df.loc[2001, 'DangerousBeat'] == 833
assert df.loc[2012, 'SafeBeat'] in [134, 2122, 2322, 2324]
assert df.loc[2012, 'DangerousBeat'] == 824

### Trong 3 năm gần đây, 5 loại địa điểm nào (ngoài đường, chỗ đậu xe, ...) có nhiều vụ phạm tội nhất? (0.75đ)

Loại địa điểm ở đây được lưu trong cột "LocationDescription". Năm loại địa điểm trong câu hỏi là không tính "OTHER". Bạn lưu kết quả vào list `top5_locs` theo thứ tự phần tử đầu tiên là có nhiều vụ phạm tội nhất, phần tử thứ hai là có nhiều vụ phạm tội nhì, ...

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# TEST
assert top5_locs == ['STREET', 
                     'PARKING LOT/GARAGE(NON.RESID.)', 
                     'RESIDENTIAL YARD (FRONT/BACK)', 
                     'VEHICLE NON-COMMERCIAL', 
                     'ALLEY']

### Trong mỗi năm của 3 năm gần đây, số lượng các vụ phạm tội thay đổi như thế nào theo tháng? (1đ)

Để trả lời cho câu hỏi này, bạn sẽ làm như sau:
- Bước 1: Tính dataframe `num_thefts_each_month_df` gồm có 3 cột (tên là 2010, 2011, 2012) ứng với số lượng vụ phạm tội theo các tháng của 3 năm, và 12 dòng (tên là 1, 2, ..., 12) ứng với 12 tháng.  
- Bước 2: Từ kết quả ở trên, bạn vẽ 3 đường dạng line (ứng với 3 năm) trên cùng một đồ thị, trong đó trục hoành là tháng và trục tung là số lượng vụ phạm tội. Bạn dùng thêm marker là điểm tròn để cho thấy rõ các điểm dữ liệu. Bạn đặt tên trục hoành là "Month" và tên trục tung là "NumThefts". Bạn cũng cần dùng legend để ghi chú là đường nào thì ứng với năm nào.

Code bước 1.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
num_thefts_each_month_df

In [ ]:
# TEST
df = num_thefts_each_month_df
assert df.shape == (12, 3)
assert df.loc[1, 2010] == 1278
assert df.loc[1, 2011] == 1508
assert df.loc[1, 2012] == 1253

Code bước 2.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Hmm ...